:root {
  --header-height: 5rem;
  --footer-height: 12rem;
  --color-primary: #FF5722;
  --color-secondary: #FF7043;
  --color-background-light: #FAFAFA;
  --color-background-dark: #121212;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #B0B0B0;
}

.indexland-shadow {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.dark .indexland-shadow {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.indexland-gradient {
  background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
}

.dark .bg-gray-50 {
  @apply bg-backgroundDark bg-opacity-70;
}

.dark .bg-white {
  @apply bg-backgroundDark bg-opacity-90;
}

.dark .shadow-md, .dark .shadow-lg, .dark .shadow-xl {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
} 